.notify {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 10px;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s;
}

.notify-theme-default {
    padding: 10px 20px;
    &.notify-alert {
        background: #ffdb5b;
        .notify-progress span {
            background: #edc242;
        }
    }
    &.notify-success {
        background: #8BC34A;
        .notify-progress span {
            background: #689F38;
        }
    }
    &.notify-error {
        background: #F44336;
        .notify-progress span {
            background: #D32F2F;
        }
    }
    &.notify-info {
        background: #03A9F4;
        .notify-progress span {
            background: #0288D1;
        }
    }
}

.notify-theme-bootstrap {
    &.notify-alert {
        .notify-progress span {
            background: #edc242;
        }
    }
    &.notify-success {
        .notify-progress span {
            background: #689F38;
        }
    }
    &.notify-error {
        .notify-progress span {
            background: #D32F2F;
        }
    }
    &.notify-info {
        .notify-progress span {
            background: #0288D1;
        }
    }
}

.notify-title {
    margin: 0;
    padding: 0;
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
}

.notify-content {
    margin: 0;
    font-size: 14px;
    padding: 0 50px 0 0;
    line-height: 20px;
}

.notify-icon {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    right: 0;
    height: 100%;
    max-width: 70px;
    width: 100%;
    svg {
        width: 100%;
        height: 100%;
        padding: 10px;
        fill: #fff;
    }
    >* {
        max-width: 70px;
    }
}

.notify-progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    span {
        float: left;
        height: 100%;
    }
}

.notify-rtl {
    direction: rtl;
    .notify-content {
        padding: 0 0 0 50px;
    }
    .notify-icon {
        left: 0;
        right: auto;
    }
}

.notify-fade-in {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.notify-fade-out {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
