.logs {
    width: 100%;
    float: left;
    background: #F1F1F1;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    max-height: 400px;
    overflow-y: scroll;
}

.log {
    box-sizing: border-box;
    float: left;
    width: 100%;
    padding: 10px;
    color: #8BC34A;
    border-bottom: 1px solid #E1E1E1;
}

.log.destroyed {
    color: #F44336;
}

.notifies .notify.my-notify {
    border-left: 4px solid #689F38;
    .notify-title, .notify-content {
        font-size: 12px;
    }
}
